[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/vim-scripts/Gundo.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/dirdiff"]
	path = bundle/dirdiff
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/muttrc"]
	path = bundle/muttrc
	url = git://github.com/vim-scripts/muttrc.vim.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
